CREATE DATABASE [SolarPower]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SolarPower', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SolarPower.mdf' , SIZE = 8192KB , FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SolarPower_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SolarPower_log.ldf' , SIZE = 8192KB , FILEGROWTH = 65536KB )
 WITH LEDGER = OFF
GO
USE [SolarPower]
GO
USE [SolarPower]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [SolarPower] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
